<!DOCTYPE html>
<html>
  <head>
    <title>
      first web page
    </title>
    <style>
      h1 {
        color: palegreen;
      }
      /* p {
        background-color: pink;
      } */
      .wrapper > p {
        background-color: pink;
      }
    </style>
  </head>
  <body>
    <h1>my name</h1>
    <div class="wrapper">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo magni,
        veritatis consectetur veniam, sunt eos tempore similique neque
        dignissimos quae maxime id! Ratione magnam sint ipsa itaque maiores
        nulla? Eveniet sint nulla esse placeat, ea, distinctio voluptatum
        obcaecati laboriosam possimus rerum explicabo a culpa est sunt omnis qui
        maiores! Aspernatur enim unde dolorum consequuntur repudiandae,
        explicabo alias hic corporis expedita nihil praesentium consequatur
        nesciunt reiciendis non odio nemo assumenda, at neque nam. Nulla fugit
        nam, ratione reprehenderit esse quae maiores aliquam laborum. Voluptatem
        earum quia doloribus minus maxime maiores tempora, iure accusamus. Fuga
        esse harum possimus non rem eligendi quae magni quas atque, enim iure,
        eum adipisci. Itaque, cum. Libero dicta soluta, rerum dolorum
        perspiciatis quaerat aperiam accusantium delectus quod consequuntur
        sequi deleniti impedit porro doloremque. Perspiciatis voluptate dolorem
        labore quod velit exercitationem animi, omnis eveniet excepturi ad et
        obcaecati repudiandae rerum, distinctio quae libero aliquid vitae
        ducimus sapiente accusamus a fuga deleniti! Omnis corporis minus quasi
        architecto sit, praesentium tempore delectus natus doloremque officia
        quo assumenda quisquam ratione adipisci obcaecati, nam molestiae maiores
        labore eligendi rem a sapiente numquam quia. Cum quam quod eos velit
        possimus corrupti animi sunt, nihil harum reiciendis quia officia. Error
        reiciendis ad magnam eligendi. Aperiam ex fugiat reiciendis impedit
        aliquid laborum quasi voluptatibus at beatae recusandae alias maiores
        repellendus veniam, sequi deleniti dolor atque? Ut molestias earum autem
        excepturi odit rerum aspernatur quaerat nulla! Error quos repudiandae
        temporibus nesciunt praesentium nam aliquam eius explicabo distinctio
        quasi reprehenderit dicta, molestiae quis dolorum at libero? Adipisci
        quaerat nostrum consectetur nesciunt placeat perspiciatis ea optio
        exercitationem harum, aspernatur tempora voluptatibus dolorem dolorum
        rerum, dolores omnis provident! Accusamus cupiditate, officiis maiores
        voluptates similique deserunt eos! Cupiditate accusamus et iure,
        veritatis molestiae corporis quibusdam deserunt nulla, id praesentium
        ratione placeat aspernatur adipisci hic rerum distinctio optio
        voluptates odit omnis necessitatibus quidem sapiente! Repellendus minima
        quidem esse labore delectus autem molestiae illo possimus? Minima
        blanditiis deserunt cumque debitis alias corporis laborum ullam,
        laboriosam, quaerat quam numquam harum, perferendis provident
        repellendus praesentium totam? Officia mollitia possimus totam tempore
        recusandae dolore nulla nostrum quaerat, eos, ipsa magnam id earum quo
        soluta, tempora odit a error omnis architecto voluptates fugit sed.
        Excepturi error, sed nam expedita aspernatur suscipit tempora odit
        numquam magni velit ipsa consequuntur odio pariatur facere maiores
        fugiat explicabo. Magni illo ipsum architecto optio, nulla, inventore
        quae dolor officiis perferendis minus, voluptate laborum reprehenderit
        voluptatibus esse iste non explicabo? Recusandae perferendis amet eaque
        veritatis harum, dignissimos magnam officia quae reprehenderit
        obcaecati, aliquid fugiat debitis nihil asperiores corrupti aspernatur
        alias eos beatae? Obcaecati assumenda aliquam debitis porro consequuntur
        sed qui animi nemo! Molestias quos cupiditate, ducimus voluptatibus
        aspernatur animi. Aliquam enim quis provident repellendus est sit,
        voluptate maxime minus reprehenderit amet veniam aliquid id praesentium
        in, quo ipsam laboriosam facilis consequatur corrupti tempore, quas ex
        sed? Aperiam repellendus delectus officiis ipsa aliquam odio asperiores
        tempora dolor, eaque deleniti. Quas aliquid ea quis esse, minima ex quo
        non quisquam doloribus repellat, eius temporibus molestias sapiente?
        Maxime repellendus amet nisi velit. Id, blanditiis omnis?
      </p>
      <h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque fuga
        tempore nam, alias voluptatum deserunt quaerat sequi sunt provident et
        quae minima! Voluptatibus, maxime corrupti ut ipsam explicabo itaque
        expedita.
      </h5>
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed maxime
        inventore earum est, sit dicta debitis dolorum voluptas quis culpa atque
        perferendis, autem impedit similique placeat voluptatibus assumenda
        officiis repellat odio nesciunt totam! Placeat cumque pariatur adipisci
        odio voluptate ipsum explicabo magni enim harum perspiciatis, quia
        assumenda iure fuga, facilis reiciendis unde consectetur, itaque nisi ut
        distinctio? Perspiciatis nostrum expedita fuga ipsam deserunt corporis
        asperiores repellat quidem quam sed earum eveniet laudantium impedit,
        temporibus dolores cum doloribus! Vero, atque. Ratione distinctio beatae
        ex vitae! Repudiandae!
      </p>
    </div>
  </body>
</html>

<!-- <div class="content" role="main">
  <div>
    <label for="Fname"></label>
    <input type="text" name="Fname" [(ngModel)]="name" />
    <p>{{ name }}</p>
    <button
      class="btn1"
      [disabled]="buttonState"
      (click)="toggleServerStatus()"
    >
      button
    </button>
  </div>

  <p>
    server name {{ ServerName }} with PID {{ ServerPID }} is {{ ServerStatus }}
  </p>
</div> -->

<!-- <app-server></app-server> -->

<!-- <div class="mainStyle">
  <app-red></app-red>
  <app-blue></app-blue>
  <app-green></app-green>
  <p *ngIf="statusFlag ; else elseblocks">flag is true</p>
  <ng-template #elseblocks>
    <p id="false">flag is false</p>
  </ng-template>

  <h1 [ngStyle]="{color: getColor()}">this is color example</h1>
  <div [ngClass]="{'white': statusFlag}"> this is a div </div>
</div> -->
